<h1>Welcome to <%= @shop.name %></h1>
<br><br>
<%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
<ul>
  <% @shop.items.each do |item| %>
    <li><a class="nav-link" href="<%=shop_item_url(@shop.id, item.id) %>"><%= item.name %></a></li>
  <% end %>

</ul>
<br><br><br>


<a class= "nav-link" href="<%= new_shop_item_url(@shop.id) %>">List a new product</a>
<br>
<a class="nav-link" href="<%= edit_shop_url(@shop.id) %>">Edit your shop info...</a>
