<h1>Welcome to Getsy!<h1>

<ul>
  <% @items.each do |item| %>
    <li>
      <ul>
        <li>
          <a href="/#shops/<%= item.shop_id %>/items/<%= item.id %>">
            <%= item.name %>
          </a>
        </li>
        <br>
        <li>
          <a href="/#shops/<%= item.shop_id %>">
            <%= Shop.find(item.shop_id).name %>
          </a>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
