
<div class="item">
  <label>Item name<br>
    <input class="form-input-text" type="text" name="name"
      value="<%= item.escape('name') %>">
  </label>
  <br><br>

  <label>Description<br>
    <textarea class="form-description" name="description">
      <%= item.escape('description') %>
    </textarea>
  </label>
  <br><br>

  <label>Price<br>
    <input class="form-input-text" type="text" name="price"
      value="<%= item.escape('price') %>">
  </label>
  <br><br>

  <label>Quantity in Stock<br>
    <input class="form-input-text" type="text" name="qty"
      value="<%=item.escape('qty') %>">
  </label>
  <br><br>

  <label>Image Url<br>
    <input class="form-input-text" type="text" name="main_image_url"
      value="<%= item.escape('main_image_url') %>">
  </label>

  <button class="submit">Submit</button>

</div>
