
<a href="/#shops/<%= item.escape('shop_id')%>/items/<%=item.id%>">
  <h2><%= item.escape('name') %></h2>
  <img src="<%= item.escape('main_image_url') %>"
    alt="<%= item.escape('name') %>">
  <br>
  <text>Price: $<%= item.escape('price') %></text>
</a>
<a class="nav-link"
  href="/#shops/<%= item.escape('shop_id') %>/items/<%=item.escape('id')%>/edit">
  Edit Item...
</a>
