
<a class="nav-link item-name" href="#/shops/<%= item.escape('shop_id')%>/items/<%=item.id%>">
  <img src="<%= item.escape('main_image_url') %>"
    alt="<%= item.escape('name') %>">
  <text><%= item.escape('name') %></text>
</a>


<text class="price">$<%= item.escape('price') %> <span> USD</span></text>
<a class="edit nav-link"
  href="#/shops/<%= item.escape('shop_id') %>/items/<%=item.escape('id')%>/edit">
  Edit Item...
</a>
