<ul class="all-items group">
  <% shops.each (function (shop){ %>
    <li>
      <ul class="items-by-shop group">

        <% for(var i = 0; i < 4 && i <= shop.items().length -1; i++){ %>
          <li>
            <a href="#shops/<%= shop.id %>/items/<%=shop.items().models[i].id%>">
              <img src="<%=shop.items().models[i].escape('main_image_url') %>"
                alt='image'>
                <span class="mask"></span>
            </a>
          </li>
        <% } %>

        <a class="nav-link" href="/#shops/<%= shop.escape('id') %>">
          <%= shop.escape('name') %>
        </a>
        <a class="nav-link item-count" href="/#shops/<%= shop.escape('id') %>">
          <%= shop.items().length %> items >
        </a>
      </ul>

    </li>
  <% }); %>
</ul>
<section class="shop-index-sidebar">
  <% if(Getsy.currentUser.isSignedIn()) {%>
    <h3>Welcome <%= Getsy.currentUser.escape('first_name') %>!</h3>
  <% }else{ %>
    <h3>Welcome to Getsy!</h3>
  <% } %>
    <p>
      If you are looking for unique items with a personal touch, then
      you are in the right place.  All of the shops are created from
      items that other users are selling. Some of them are hand crafted,
      while others are just hard to find anywhere else.  If you are
      interested in setting up a shop, just <a href="#users/new">sign up</a> if
      you haven't already and get started!
    </p>

  <button class="add-shop">Add a shop</button>
</section>
