<ul class="all-items group">
  <% shops.each (function (shop){ %>
    <li>
      <ul class="items-by-shop group">

        <% for(var i = 0; i < 4; i++){ %>
          <li>
            <a href="#shops/<%= shop.id %>/items/<%=shop.items().first().id%>">
              <img src="<%=shop.items().first().escape('main_image_url') %>"
                alt='image'>
                <span class="mask"></span>
            </a>
          </li>
        <% } %>
          <!-- <li></li>
          <li></li>
          <li></li> -->
        <li>
          <a class="nav-link" href="/#shops/<%= shop.escape('id') %>">
            <%= shop.escape('name') %>
          </a>
        </li>

      </ul>
    </li>
  <% }); %>
</ul>
