

	<input type="text" class="query">


<section class="results group">
	<h1 class="results-title">Search Results</h1>


<!-- <nav>
	Displaying page number <%= results.pageNum %> out
	of <%= results.total_count %> results
	<a class="prev-page" href="javascript:void(0)">Prev</a>
	<a class="next-page" href="javascript:void(0)">Next</a>
</nav> -->
	<text class="result-count">Found <%= results.length %> results
	matching "<%= results.query %>"</text>


	<% results.each(function (result) { %>
		<article class="thumb">
			<% if (result instanceof Getsy.Models.Item) { %>
    			<a class="nav-link item-name" href="#/shops/<%= result.escape('shop_id')%>/items/<%=result.id%>">
				  <img src="<%= result.escape('main_image_url') %>"
				    alt="<%= result.escape('name') %>">
				  <text><%= result.escape('name') %></text>
				</a>


				<text class="price">$<%= result.escape('price') %> <span> USD</span></text>


			<% } else { %>

				<a class="nav-link shop-link" href="#/shops/<%= result.escape('id')%>">
					<text class="thumb-shop-name"><%= result.escape('name') %></text>

				</a>
			<% } %>
		</article>
	<% }) %>

</section>
